<html>
<body>

  <h2>List of all Restaurants</h2>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>
          <strong>
            {{message}}
          </strong>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  <h4><a href="{{url_for("addRest")}}">Add New Restaurant</a></h4>

  {% for i in restaurants %}

  <div>
    <p><a href="{{url_for("showMenuItems", rid=i.id)}}">{{i.name}}</a></p>
    <a href="{{url_for("editRest", rid=i.id)}}">Edit</a>
    <a href="{{url_for("deleteRest", rid=i.id)}}">Delete</a>
  </div>

  {% endfor %}

</body>

</html>
